.bar{
    height: 80px;
}
img{
    height:60px ;
    position: relative;
    /* left: 40px; */
}
.img2{
    position: relative;
    bottom:60px ;
    left: 600px;
}
h3{
    position: relative;
    left: 1200px;
    bottom:20px ;
    color: lightgray;
}
.slider{
    height: 600px;
    
}
.start{
    margin-bottom: 0px;
}
h2{
    margin-top: 120px;
    margin-bottom: 20PX;
}
.final{
    background-color: darkcyan;
    height: 150px;
    
}
h6{
    color: yellowgreen;
    position: relative;
    left: 30px;
}
h4{
    color: brown;
}